<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592422146734-52ub9a09975k3fjnilr17f11ibgevgmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592422146734-52ub9a09975k3fjnilr17f11ibgevgmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBzHmeHlO_BQhle-0cOdOVyoWnRiD_5mhk</string>
	<key>GCM_SENDER_ID</key>
	<string>592422146734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.vtne</string>
	<key>PROJECT_ID</key>
	<string>vtne-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>vtne-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592422146734:ios:1430216cf3c73a5dde533f</string>
</dict>
</plist>